#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a NoSql database

- non-relational databases support unstructured or semi-structured data also.
- non-relational databases no need to predefine schema
- non-relational databases is a best option for memory management

When you know your data may be unstructured or semi-structured, and you also need a flexible schema

#### Q2. State and Explain the features of MongoDB.

Ans :    
- This is a Schema-less Database
- This is Document Oriented or key-value
- This allows Dynamic Queries (no need schema)
- Power full Aggregation for filtering, sorting, etc.

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
#connect MongoDB to Python
import pymongo
client = pymongo.MongoClient("mongodb+srv://<username>:<passeord>@cluster0.m6yagtd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
# create a database
db = client['TestDatabase']

In [ ]:
# collection in MongoDB
data = {"name" : "Akram" , 
        "class" :"data science masters " ,
        "time" : "flexi"}
test_collection = db["my_record"]
test_collection.insert_one(data1)

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
#connect MongoDB to Python
import pymongo
client = pymongo.MongoClient("mongodb+srv://<username>:<passeord>@cluster0.m6yagtd.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client['TestDatabase']  
data = {"name" : "Akram" , 
        "class" :"data science masters " ,
        "time" : "flexi"}
test_collection = db["my_record"]
test_collection.insert_one(data1)

 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
test_collection.insert_many(data2)

In [ ]:
test_collection.find_one()

In [ ]:
for i in test_collection.find():         # find all document from collection/table
    print(i)

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

**find()**: This function used to query and retrieve data from a MongoDB collection.

In [ ]:
for i in test_collection.find({'name': 'Chuck'}): 
    print(i)

In [ ]:
for i in test_collection.find({"_id" :{"$lt" : '5'}}):  
    print(i)

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

**sort()**: It is used to sort result quety

In [ ]:
# sort rutern data in order to name
for i in test_collection.find().sort("name"):
    print(i)

In [ ]:
#sort in descending order
for i in test_collection.find().sort("name",-1):
    print(i)

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

**delete_one()**: It is used to delete single document from collection

In [ ]:
test_collection.delete_one({'name': 'Chuck'})

**delete_many()**: It is used to delete all data according to condition

In [ ]:
test_collection.delete_many({"address": { "$regex": "^S" }})

**drop()**: It is used to drop/delete collection from MongoDB database

In [ ]:
mycol = db["TestDatabase"]                 # Create collection
mycol.drop()                               #drop collection