#### Q 1.	Write a program to accept percentage from the user and display the grade according to the following criteria:

|Marks|Grade|
|-------|-------|
|>90|A|
|>80 and <=90|B|
|>=60 and <=80|C|
|below 60|D|
|||

In [16]:
Input = int(input('Enter percentage : '))
if Input>90:
    print("A")
elif 90>=Input>80:
    print("B")
elif 80>=Input>=60:
    print("C")
else:
    print("D")

Enter percentage : 50
D

#### Q 2. Write a program to accept the cose price of a bike and display the road tax to be paid according to the following criteria:

|Tax|Cose Price (in Rs)|
|-------|-------|
|15%|>100000|
|10%|>50000 and <= 100000|
|5%|<= 50000|
|||

In [1]:
Input = int(input('Enter bike price : '))
if Input>100000:
    print("Tax : 15%")
elif 100000>=Input>50000:
    print("Tax : 10%")
else:
    print("Tax : 5%")

Enter bike price : 58623
Tax : 10%

#### Q 3. Accept any city form the user and display monuments of the city.

|City|Monument|
|-------|-------|
|Delhi|Red Fort|
|Agra|Taj Mahal|
|Jaipur|Jal Mahal|
|||

In [14]:
Input = input('Enter bike price : ')
if Input == "Delhi":
    print("Red Fort")
elif Input == "Agra":
    print("Taj Mahal")
else:
    print("Jal Mahal")

Enter bike price :  Delhi

Red Fort

#### Q 4. Check how many times a given number can be divided by 3 before it is less than of equal to 10.

In [1]:
n = int(input("Enter a number : "))
count = 0
while n > 10:
    count +=1
    n -=3
    if n<=10:
        break
print(count)

Enter a number :  13

1

#### Q 5. Why and when to use while loop in python give a detailed description with example

- A while loop evaluates the when condition is True
- If the condition evaluates to True, the code inside the while loop is executed.
- condition is evaluated again.
- This process continues until the condition is False.
- When condition evaluates to False, the loop stops.

In [3]:
# I know to print 1 to 20 numbers, therefore using here for loop
for i in range(1,20):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [6]:
# in this case i dont how many times num will be executed but less than 10
num = 0
while num<10:
    print(num, end = ', ')
    num +=1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

#### Q 6. Use nested while loop to print 3 different pattern.

In [5]:
row = int(input("Enter row number : "))
while row>0:
    print()
    column = 0
    while column < row:
        print("*", end=' ')
        column +=1
    row -=1

Enter row number :  10

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
row = int(input("Enter row number : "))
num = 0
while num <= row:
    print("* "*num)
    num +=1

Enter row number : 6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [15]:
row = int(input("Enter row number : "))
num = 0
while num <= row:
    print("* "*num)
    num +=1
    if num > row:
        row = row-1
        num = -row +2
        while num <= row:
            print("* "*row)
            num +=1
            row -=1

Enter row number : 5

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### Q 7. Reverse a while loop to display numbers form 10 to 1.

In [8]:
a = 10
while 1<=a<=10:
    print(a, end=',')
    a -=1

10,9,8,7,6,5,4,3,2,1,